<div>
<@spring.message "language"/> : 
<a href="javascript:setLanguage('zh_CN')"><@spring.message "zh_CN"/></a>
<a href="javascript:setLanguage('en_US')"><@spring.message "en_US"/></a>
</div>
<div>
<@spring.message "theme"/> : 
<a href="javascript:setTheme('default')"><@spring.message "default"/></a>
<a href="javascript:setTheme('blue')"><@spring.message "blue"/></a>
</div>
<script>
function setTheme(name) {
setCookie('clienttheme',name);
window.location.reload();
}
function setLanguage(name) {
setCookie('clientlanguage',name);
window.location.reload();
}
function setCookie(name,value){   
var Days = 30;
var exp  = new Date();
exp.setTime(exp.getTime() + Days*24*60*60*1000);
document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
}
</script>