<#assign base>${request.contextPath}</#assign>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="${base}/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="${base}/resources/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="${base}/resources/css/style.css" rel="stylesheet">
<script src="${base}/resources/js/jquery-1.9.1.min.js"></script>
<script src="${base}/resources/js/bootstrap.min.js"></script>
