<div id="header">
    <#assign back_index><@spring.message "back"/> <@spring.message "index"/></#assign>
    <div id="logo">
        <h1><a title="${back_index}" href="${base}/"></a></h1>
    </div>
    <div id="contact">
        <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=mail@ixr.name" target="_blank" ><img src="${base}/resources/images/mail24.png"></a>
        <a href="http://t.qq.com/ixr_wang" target="_blank" ><img src="${base}/resources/images/tengxun24.png"></a>
    </div>
</div>
