<header id="header">
    <div id="logo">
        <h1><a title="首页" href="${base}/"></a></h1>
    </div>
    <div id="contact">
        <a href="http://t.qq.com/ixr_wang" target="_blank"><img src="${base}/resources/img/tengxun24.png"></a>
    </div>
    <div class="search">
        <div class="search_site addapted" style="overflow: hidden;">
            <form id="searchform" method="post" action="/" class="form-search" onsubmit="return false;">
                <div class="input-append">
                    <input type="text"  placeholder="输入关键字搜索..." class="span2 search-query">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>