<!DOCTYPE html>
<html>
    <head>
        <title>来自冰星的生物</title>
        <#include "/common/header.html">
        <script src="${base}/resources/js/page.js"></script>
        <script>
            $(document).ready(function(){
                $('#page').page({
                    url : '${base}/index?search=${search}',
                    page : new Number('${page}'),
                    size : new Number('${size}'),
                    total : new Number('${total}')
                });
            });
        </script>
    </head>
    <body>
        <div id="container">
            <#include "/header.html">
            <div id="contact">
                <div id="contact-context">
                    <#list articles as article>
                    <div class="media">
                        <a class="pull-left">
                            <img class="img-polaroid" data-src="holder.js/220x120">
                        </a>
                        <div class="media-body">
                            <a href="#${1}">
                            <h4 class="media-heading">${article.title}</h4>
                            </a>
                            <p style="height: 75px;">
                                ${article.summary}
                            </p>
                            <p class="text-right">${article.created?string('yyyy-MM-dd HH:mm:ss')}</p>
                        </div>
                    </div>
                    </#list>
                    <div id='page' class="pagination pagination-centered"></div>
                </div>
            </div>
            <#include "/footer.html">
        </div>
    </body>
</html>