<!DOCTYPE html>
<html>
    <head>
        <title>来自冰星的生物</title>
        <#include "/common/header.html">
        <script src="${base}/resources/js/jquery-cookie.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.media-body').find('a').click(function(){
                    $.post('${base}/legal/boost',{id:this.id});
                    $.post('${base}/legal/similarity',{item_id:this.id,preference:1});
                });
                $('#setid').click(function(){
                    $.cookie('user_id',$('#user_id').val());
                    window.location.reload();
                });
            });
        </script>
    </head>
    <body>
        <div id="container">
            <header id="header">
                <div id="logo">
                    <h1><a title="首页" href="${base}/"></a></h1>
                </div>
                <div id="contact">
                    <a href="http://t.qq.com/ixr_wang" target="_blank"><img src="${base}/resources/img/tengxun24.png"></a>
                </div>
                <div class="search">
                    <div class="search_site addapted" style="overflow: hidden;">
                        <form id="searchform" method="get" action="/legal" class="form-search">
                            <div class="input-append">
                                <input type="text" name="search"  placeholder="输入关键字搜索..." value="${search}" class="span2 search-query">
                                <button type="submit" class="btn">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
            <div id="contact">
                <div id="contact-context">
                    <div class="media">
                        <div class="media-body">
                            <div class="input-append">
                                <input id="user_id" type="text" name="search" placeholder="请输入要切换的ID..." value="${user_id}">
                                <button type="submit" class="btn" id="setid">切换的ID</button>
                            </div>
                        </div>
                    </div>
                    <#if 0 < recommendeds?size>
                    <b>您可能感兴趣</b>
                    <#list recommendeds as item>
                    <div class="media">
                        <div class="media-body">
                            <a href="${item.href}" id="${item.id?c}">
                                <h4 class="media-heading">${item.title}</h4>
                            </a>
                        </div>
                    </div>
                    </#list>
                    <hr>
                    </#if>
                    <#list list as item>
                    <div class="media">
                        <div class="media-body">
                            <a href="${item.href}" id="${item.id?c}">
                                <h4 class="media-heading">${item.title}</h4>
                            </a>
                            <p style="height: 75px;">
                                ${item.context}
                            </p>
                        </div>
                    </div>
                    </#list>
                    用时 ${time/1000} 秒
                </div>
            </div>
            <#include "/footer.html">
        </div>
    </body>
</html>